/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss start ignore */

@tailwind utilities;

/* Global Styles */
body {
  @apply text-gray-800;
  font-family: "Inter", sans-serif;
}

/* Change "a" styles below */

a {
  background: linear-gradient(transparent 70%, #dbe4ff 0);
  text-decoration: none;
  font-weight: 700;
}
